set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




ALTER PROCEDURE [dbo].[FACTURE_des_EXAMENS_de_LABO] @ID_CONSULTATION NVARCHAR(50)

AS

SELECT     dbo.EXAMENS_A_FAIRE.EXAM_DESCRIPTION AS Examens, dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER AS Total, 
                      dbo.ASSUREUR.NOM_ASSUREUR AS Assureur, dbo.ASSUREUR.POURCENTAGE * 100 AS [%], 
                      dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER - dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER * dbo.ASSUREUR.POURCENTAGE AS [Prix de l'assureur'],
                       dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER * dbo.ASSUREUR.POURCENTAGE AS [Prix du patient]
FROM         dbo.ASSUREUR INNER JOIN
                      dbo.PATIENT ON dbo.ASSUREUR.ID_ASSUREUR = dbo.PATIENT.ID_ASSUREUR INNER JOIN
                      dbo.CONSULTATION ON dbo.PATIENT.ID_PATIENT = dbo.CONSULTATION.ID_PATIENT INNER JOIN
                      dbo.RESULTATS_EXAMEN ON dbo.CONSULTATION.ID_CONSULTATION = dbo.RESULTATS_EXAMEN.ID_CONSULTATION INNER JOIN
                      dbo.EXAMENS_A_FAIRE ON dbo.RESULTATS_EXAMEN.CODE_EXAMEN = dbo.EXAMENS_A_FAIRE.CODE_EXAMEN INNER JOIN
                      dbo.SERVICES_RENDUS ON dbo.EXAMENS_A_FAIRE.ID_SERVICES_RENDUS = dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS INNER JOIN
                      dbo.TARIF_DEL_ASSUREUR ON dbo.ASSUREUR.ID_ASSUREUR = dbo.TARIF_DEL_ASSUREUR.ID_ASSUREUR AND 
                      dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS = dbo.TARIF_DEL_ASSUREUR.ID_SERVICES_RENDUS
WHERE     (dbo.CONSULTATION.ID_CONSULTATION = @ID_CONSULTATION) AND (dbo.RESULTATS_EXAMEN.DEJA_EXAMINE = 0) AND 
                      (dbo.RESULTATS_EXAMEN.PAYES = 1)
