set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER procedure [dbo].[FACTURE_des_EXAMENS_FAITS_Patient_by_IDHosp]

@ID_HOSPITALISATION NVARCHAR(50)

AS

SELECT     dbo.PATIENT.NOM + N'  ' + dbo.PATIENT.PRENOM AS Noms, dbo.HOSPITALISATION.No_CHAMBRE AS [No chambre], 
                      dbo.ASSUREUR.NOM_ASSUREUR AS Assureur, dbo.ASSUREUR.POURCENTAGE * 100 AS [%], 
                      dbo.RESULTATS_EXAMS_HOSPITALISATION.DATE_EXAMEN AS Date, dbo.EXAMENS_A_FAIRE.EXAM_DESCRIPTION AS Examens, 
                      dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER AS [Montant total], 
                      dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER * dbo.ASSUREUR.POURCENTAGE AS [Prix du patient], 
                      dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER - dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER * dbo.ASSUREUR.POURCENTAGE AS [Prix d'assureur']
FROM         dbo.ASSUREUR INNER JOIN
                      dbo.SERVICES_RENDUS INNER JOIN
                      dbo.TARIF_DEL_ASSUREUR ON dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS = dbo.TARIF_DEL_ASSUREUR.ID_SERVICES_RENDUS ON 
                      dbo.ASSUREUR.ID_ASSUREUR = dbo.TARIF_DEL_ASSUREUR.ID_ASSUREUR INNER JOIN
                      dbo.CONSULTATION INNER JOIN
                      dbo.HOSPITALISATION ON dbo.CONSULTATION.ID_CONSULTATION = dbo.HOSPITALISATION.ID_CONSULTATION INNER JOIN
                      dbo.PATIENT ON dbo.CONSULTATION.ID_PATIENT = dbo.PATIENT.ID_PATIENT ON 
                      dbo.ASSUREUR.ID_ASSUREUR = dbo.PATIENT.ID_ASSUREUR INNER JOIN
                      dbo.EXAMENS_A_FAIRE ON dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS = dbo.EXAMENS_A_FAIRE.ID_SERVICES_RENDUS INNER JOIN
                      dbo.RESULTATS_EXAMS_HOSPITALISATION ON 
                      dbo.EXAMENS_A_FAIRE.CODE_EXAMEN = dbo.RESULTATS_EXAMS_HOSPITALISATION.CODE_EXAMEN INNER JOIN
                      dbo.FICHE_DE_SUIVIE ON dbo.HOSPITALISATION.ID_HOSPITALISATION = dbo.FICHE_DE_SUIVIE.ID_HOSPITALISATION AND 
                      dbo.RESULTATS_EXAMS_HOSPITALISATION.ID_SUIVI = dbo.FICHE_DE_SUIVIE.ID_SUIVIE
WHERE     (dbo.HOSPITALISATION.ID_HOSPITALISATION = @ID_HOSPITALISATION) AND (dbo.HOSPITALISATION.DECHARGE = 1)