set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[FACTURE_du_SEJOUR_al_HOPITAL_par_CONS] @ID_CONSULTATION NVARCHAR(50)

AS

SELECT     dbo.CONSULTATION.ID_CONSULTATION, dbo.HOSPITALISATION.ID_HOSPITALISATION AS [No d'hospitalisation'], 
                      dbo.HOSPITALISATION.DATE_D_ENTREE AS [Date d'entrée'], dbo.HOSPITALISATION.DATE_DE_SORTIE AS [Date de sortie], DATEDIFF(DAY, 
                      dbo.HOSPITALISATION.DATE_D_ENTREE, dbo.HOSPITALISATION.DATE_DE_SORTIE) + 1 AS Jours, DATEDIFF(HOUR, 
                      dbo.HOSPITALISATION.DATE_D_ENTREE, dbo.HOSPITALISATION.DATE_DE_SORTIE) + 1 AS Heures, 
                      dbo.CHAMBRES.No_CHAMBRE AS [No de Chambre], dbo.ASSUREUR.NOM_ASSUREUR AS Assureur, dbo.ASSUREUR.POURCENTAGE * 100 AS [%], 
                      dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER * (DATEDIFF(DAY, dbo.HOSPITALISATION.DATE_D_ENTREE, 
                      dbo.HOSPITALISATION.DATE_DE_SORTIE) + 1) AS [Prix de la chambre], 
                      dbo.ASSUREUR.POURCENTAGE * (dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER * (DATEDIFF(DAY, dbo.HOSPITALISATION.DATE_D_ENTREE, 
                      dbo.HOSPITALISATION.DATE_DE_SORTIE) + 1)) AS [Prix du patient], dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER * (DATEDIFF(DAY, 
                      dbo.HOSPITALISATION.DATE_D_ENTREE, dbo.HOSPITALISATION.DATE_DE_SORTIE) + 1) 
                      - dbo.ASSUREUR.POURCENTAGE * (dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER * (DATEDIFF(DAY, dbo.HOSPITALISATION.DATE_D_ENTREE, 
                      dbo.HOSPITALISATION.DATE_DE_SORTIE) + 1)) AS [Prix de l'assureur']
FROM         dbo.CHAMBRES INNER JOIN
                      dbo.CATEGORY_CHAMBRE ON dbo.CHAMBRES.ID_CATEG_CHAMBRE = dbo.CATEGORY_CHAMBRE.ID_CATEG_CHAMBRE INNER JOIN
                      dbo.HOSPITALISATION ON dbo.CHAMBRES.No_CHAMBRE = dbo.HOSPITALISATION.No_CHAMBRE INNER JOIN
                      dbo.SERVICES_RENDUS ON dbo.CATEGORY_CHAMBRE.ID_SERVICES_RENDUS = dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS INNER JOIN
                      dbo.TARIF_DEL_ASSUREUR ON dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS = dbo.TARIF_DEL_ASSUREUR.ID_SERVICES_RENDUS INNER JOIN
                      dbo.CONSULTATION ON dbo.HOSPITALISATION.ID_CONSULTATION = dbo.CONSULTATION.ID_CONSULTATION INNER JOIN
                      dbo.PATIENT ON dbo.CONSULTATION.ID_PATIENT = dbo.PATIENT.ID_PATIENT INNER JOIN
                      dbo.ASSUREUR ON dbo.TARIF_DEL_ASSUREUR.ID_ASSUREUR = dbo.ASSUREUR.ID_ASSUREUR AND 
                      dbo.PATIENT.ID_ASSUREUR = dbo.ASSUREUR.ID_ASSUREUR
WHERE     (dbo.CONSULTATION.ID_CONSULTATION = @ID_CONSULTATION) AND (dbo.CHAMBRES.DISPONIBLE = 0) AND (dbo.HOSPITALISATION.DECHARGE = 0)