set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER Procedure [dbo].[SELECT_NOM_PRENOM_du_PATIENT]

@ID_CONSULTATION NVARCHAR(50)

AS

SELECT     dbo.RENDEZ_VOUS_CONSULTATION.ID_CONSULTATION, DATEDIFF(MONTH, dbo.PATIENT.DATE_NAISSANCE, GETDATE()) AS MOIS, 
                      DATEDIFF(MONTH, dbo.PATIENT.DATE_NAISSANCE, GETDATE()) / 12 AS AGE, dbo.PATIENT.NOM + '  ' + dbo.PATIENT.PRENOM AS NOM_PRENOM, 
                      dbo.PATIENT.ID_PATIENT
FROM         dbo.CONSULTATION INNER JOIN
                      dbo.PATIENT ON dbo.CONSULTATION.ID_PATIENT = dbo.PATIENT.ID_PATIENT INNER JOIN
                      dbo.RENDEZ_VOUS_CONSULTATION ON dbo.PATIENT.ID_PATIENT = dbo.RENDEZ_VOUS_CONSULTATION.ID_PATIENT AND 
                      dbo.CONSULTATION.ID_CONSULTATION = dbo.RENDEZ_VOUS_CONSULTATION.ID_CONSULTATION
WHERE     (dbo.RENDEZ_VOUS_CONSULTATION.PAYE = 1) AND (dbo.RENDEZ_VOUS_CONSULTATION.ID_CONSULTATION = @ID_CONSULTATION)