set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



ALTER PROCEDURE [dbo].[SELECT_FACTURATION_des_TRAITEMENTS_de_CONSULTATION]

@ID_CONSULTATION NVARCHAR(50)

AS

SELECT     dbo.SERVICES_RENDUS.DESCRIPTION_SERV_RENDUS, dbo.ASSUREUR.NOM_ASSUREUR, dbo.ASSUREUR.POURCENTAGE * 100 AS [%], 
                      dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER AS Total, 
                      dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER - dbo.ASSUREUR.POURCENTAGE * dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER AS [Payé par l''assureur'],
                       dbo.ASSUREUR.POURCENTAGE * dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER AS Tarif
FROM         dbo.SERVICES_RENDUS INNER JOIN
                      dbo.TARIF_DEL_ASSUREUR ON dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS = dbo.TARIF_DEL_ASSUREUR.ID_SERVICES_RENDUS INNER JOIN
                      dbo.ASSUREUR ON dbo.TARIF_DEL_ASSUREUR.ID_ASSUREUR = dbo.ASSUREUR.ID_ASSUREUR INNER JOIN
                      dbo.PATIENT ON dbo.ASSUREUR.ID_ASSUREUR = dbo.PATIENT.ID_ASSUREUR INNER JOIN
                      dbo.CONSULTATION ON dbo.PATIENT.ID_PATIENT = dbo.CONSULTATION.ID_PATIENT INNER JOIN
                      dbo.TRAITEMENT_CONSULTATION ON 
                      dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS = dbo.TRAITEMENT_CONSULTATION.ID_SERVICES_RENDUS AND 
                      dbo.CONSULTATION.ID_CONSULTATION = dbo.TRAITEMENT_CONSULTATION.ID_CONSULTATION INNER JOIN
                      dbo.CATEG_SERVICES_RENDUS ON 
                      dbo.SERVICES_RENDUS.ID_CATEG_SER_RENDUS = dbo.CATEG_SERVICES_RENDUS.ID_CATEG_SER_RENDUS
WHERE     (dbo.CONSULTATION.ID_CONSULTATION = @ID_CONSULTATION) AND (dbo.CATEG_SERVICES_RENDUS.ID_CATEG_SER_RENDUS = 100) AND 
                      (dbo.TRAITEMENT_CONSULTATION.PAYED = 0) AND (dbo.TRAITEMENT_CONSULTATION.RENDU = 0)