set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




ALTER PROCEDURE [dbo].[Select_Facturation_De_consultation_Champs]

@ID_CONSULTATION nvarchar(50)

as

SELECT     dbo.ASSUREUR.NOM_ASSUREUR AS Assureur, dbo.SERVICES.NOM_SERVICE AS Services, dbo.ASSUREUR.POURCENTAGE * 100 AS [%], 
                      dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER AS Total, 
                      dbo.ASSUREUR.POURCENTAGE * dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER AS [Prix du patient], 
                      dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER - dbo.ASSUREUR.POURCENTAGE * dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER AS [Prix assureur]
FROM         dbo.SERVICES_RENDUS INNER JOIN
                      dbo.TRAITEMENT_CONSULTATION ON 
                      dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS = dbo.TRAITEMENT_CONSULTATION.ID_SERVICES_RENDUS INNER JOIN
                      dbo.CONSULTATION ON dbo.TRAITEMENT_CONSULTATION.ID_CONSULTATION = dbo.CONSULTATION.ID_CONSULTATION INNER JOIN
                      dbo.PATIENT ON dbo.CONSULTATION.ID_PATIENT = dbo.PATIENT.ID_PATIENT INNER JOIN
                      dbo.ASSUREUR ON dbo.PATIENT.ID_ASSUREUR = dbo.ASSUREUR.ID_ASSUREUR INNER JOIN
                      dbo.RENDEZ_VOUS_CONSULTATION ON dbo.PATIENT.ID_PATIENT = dbo.RENDEZ_VOUS_CONSULTATION.ID_PATIENT INNER JOIN
                      dbo.SERVICES ON dbo.CONSULTATION.ID_SERVICE = dbo.SERVICES.ID_SERVICE AND 
                      dbo.RENDEZ_VOUS_CONSULTATION.ID_SERVICE = dbo.SERVICES.ID_SERVICE INNER JOIN
                      dbo.TARIF_DEL_ASSUREUR ON dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS = dbo.TARIF_DEL_ASSUREUR.ID_SERVICES_RENDUS AND 
                      dbo.ASSUREUR.ID_ASSUREUR = dbo.TARIF_DEL_ASSUREUR.ID_ASSUREUR
WHERE     (dbo.TRAITEMENT_CONSULTATION.PAYED = 0) AND (dbo.TRAITEMENT_CONSULTATION.RENDU = 0) AND 
                      (dbo.RENDEZ_VOUS_CONSULTATION.ID_CONSULTATION = @ID_CONSULTATION)
