set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER Procedure [dbo].[SELECT_RESULTAT_EXAMEN_FAIT_au_Labo]

@ID_CONSULTATION NVARCHAR(50)

AS

SELECT     dbo.EXAMENS_A_FAIRE.EXAM_DESCRIPTION + ' : ' + dbo.RESULTATS_EXAMEN.RESULTATS AS Resultats, 
                      dbo.RESULTATS_EXAMEN.CODE_EXAMEN
FROM         dbo.RESULTATS_EXAMEN INNER JOIN
                      dbo.EXAMENS_A_FAIRE ON dbo.RESULTATS_EXAMEN.CODE_EXAMEN = dbo.EXAMENS_A_FAIRE.CODE_EXAMEN
WHERE     (dbo.RESULTATS_EXAMEN.DEJA_EXAMINE = 1) AND (dbo.RESULTATS_EXAMEN.PAYES = 1) AND 
                      (dbo.RESULTATS_EXAMEN.ID_CONSULTATION = @ID_CONSULTATION)