set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


ALTER PROCEDURE [dbo].[SELECT_FACTURATION_des_TRAITEMENTS_de_SUIVI]

@ID_HOSPITALISATION NVARCHAR(20)

AS

SELECT     DISTINCT(dbo.SERVICES_RENDUS.DESCRIPTION_SERV_RENDUS) AS Traitements, dbo.ASSUREUR.NOM_ASSUREUR, dbo.ASSUREUR.POURCENTAGE * 100 AS [%], 
                      dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER AS Total, 
                      dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER - dbo.ASSUREUR.POURCENTAGE * dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER AS [Prix de l''assureur'],
                       dbo.ASSUREUR.POURCENTAGE * dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER AS Tarif
FROM         dbo.SERVICES_RENDUS INNER JOIN
                      dbo.TARIF_DEL_ASSUREUR ON dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS = dbo.TARIF_DEL_ASSUREUR.ID_SERVICES_RENDUS INNER JOIN
                      dbo.ASSUREUR ON dbo.TARIF_DEL_ASSUREUR.ID_ASSUREUR = dbo.ASSUREUR.ID_ASSUREUR INNER JOIN
                      dbo.PATIENT ON dbo.ASSUREUR.ID_ASSUREUR = dbo.PATIENT.ID_ASSUREUR INNER JOIN
                      dbo.CONSULTATION ON dbo.PATIENT.ID_PATIENT = dbo.CONSULTATION.ID_PATIENT INNER JOIN
                      dbo.CATEG_SERVICES_RENDUS ON 
                      dbo.SERVICES_RENDUS.ID_CATEG_SER_RENDUS = dbo.CATEG_SERVICES_RENDUS.ID_CATEG_SER_RENDUS INNER JOIN
                      dbo.HOSPITALISATION ON dbo.CONSULTATION.ID_CONSULTATION = dbo.HOSPITALISATION.ID_CONSULTATION INNER JOIN
                      dbo.TRAITEMENT_SUIVIE ON dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS = dbo.TRAITEMENT_SUIVIE.ID_SERVICES_RENDUS INNER JOIN
                      dbo.FICHE_DE_SUIVIE ON dbo.HOSPITALISATION.ID_HOSPITALISATION = dbo.FICHE_DE_SUIVIE.ID_HOSPITALISATION
WHERE (dbo.HOSPITALISATION.ID_HOSPITALISATION = @ID_HOSPITALISATION) AND (dbo.TRAITEMENT_SUIVIE.PAYED = 0) AND 
                      (dbo.TRAITEMENT_SUIVIE.RENDU = 0) 


