set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




ALTER PROCEDURE [dbo].[SELECT_PRIX_des_EXAMENS_A_FAIRE]

@ID_CONSULTATION NVARCHAR(50)

AS

SELECT     dbo.SERVICES_RENDUS.DESCRIPTION_SERV_RENDUS AS Examens, dbo.ASSUREUR.NOM_ASSUREUR AS Assureur, 
                      dbo.ASSUREUR.POURCENTAGE * 100 AS [%], dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER AS Total, 
                      dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER - dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER * dbo.ASSUREUR.POURCENTAGE AS [Prix de l'assureur'],
                       dbo.TARIF_DEL_ASSUREUR.MAXIMA_A_PAYER * dbo.ASSUREUR.POURCENTAGE AS [Prix du patient]
FROM         dbo.SERVICES_RENDUS INNER JOIN
                      dbo.TARIF_DEL_ASSUREUR ON dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS = dbo.TARIF_DEL_ASSUREUR.ID_SERVICES_RENDUS INNER JOIN
                      dbo.ASSUREUR ON dbo.TARIF_DEL_ASSUREUR.ID_ASSUREUR = dbo.ASSUREUR.ID_ASSUREUR INNER JOIN
                      dbo.CATEG_SERVICES_RENDUS ON 
                      dbo.SERVICES_RENDUS.ID_CATEG_SER_RENDUS = dbo.CATEG_SERVICES_RENDUS.ID_CATEG_SER_RENDUS INNER JOIN
                      dbo.EXAMENS_A_FAIRE ON dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS = dbo.EXAMENS_A_FAIRE.ID_SERVICES_RENDUS INNER JOIN
                      dbo.RESULTATS_EXAMEN ON dbo.EXAMENS_A_FAIRE.CODE_EXAMEN = dbo.RESULTATS_EXAMEN.CODE_EXAMEN INNER JOIN
                      dbo.CONSULTATION ON dbo.RESULTATS_EXAMEN.ID_CONSULTATION = dbo.CONSULTATION.ID_CONSULTATION INNER JOIN
                      dbo.PATIENT ON dbo.ASSUREUR.ID_ASSUREUR = dbo.PATIENT.ID_ASSUREUR AND 
                      dbo.CONSULTATION.ID_PATIENT = dbo.PATIENT.ID_PATIENT
WHERE     (dbo.RESULTATS_EXAMEN.DEJA_EXAMINE = 0) AND (dbo.RESULTATS_EXAMEN.PAYES = 0) AND 
                      (dbo.RESULTATS_EXAMEN.ID_CONSULTATION = @ID_CONSULTATION)
