set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


ALTER PROCEDURE [dbo].[SELECT_TOUS_EXAMS_PROPOSES]

@ID_CONSULTATION NVARCHAR(50)

AS

SELECT     dbo.EXAMENS_A_FAIRE.CODE_EXAMEN, dbo.EXAMENS_A_FAIRE.ID_SERVICES_RENDUS, dbo.EXAMENS_A_FAIRE.UNITE_DE_MESURE, 
                      dbo.EXAMENS_A_FAIRE.VALEUR_NORMALE, dbo.EXAMENS_A_FAIRE.EXAM_DESCRIPTION
FROM         dbo.EXAMENS_A_FAIRE INNER JOIN
                      dbo.RESULTATS_EXAMEN ON dbo.EXAMENS_A_FAIRE.CODE_EXAMEN = dbo.RESULTATS_EXAMEN.CODE_EXAMEN INNER JOIN
                      dbo.CONSULTATION ON dbo.RESULTATS_EXAMEN.ID_CONSULTATION = dbo.CONSULTATION.ID_CONSULTATION INNER JOIN
                      dbo.SERVICES_RENDUS ON dbo.EXAMENS_A_FAIRE.ID_SERVICES_RENDUS = dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS INNER JOIN
                      dbo.CATEG_SERVICES_RENDUS ON 
                      dbo.SERVICES_RENDUS.ID_CATEG_SER_RENDUS = dbo.CATEG_SERVICES_RENDUS.ID_CATEG_SER_RENDUS
WHERE     (dbo.CONSULTATION.ID_CONSULTATION =@ID_CONSULTATION) AND (dbo.RESULTATS_EXAMEN.PAYES = 1) AND (dbo.RESULTATS_EXAMEN.DEJA_EXAMINE = 0)

