set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_TRAITEMENT_CONSULTATION]

@ID_CONSULTATION	nvarchar(20)	,
@ID_SERVICES_RENDUS	nvarchar(10)	
		
AS
INSERT INTO TRAITEMENT_CONSULTATION
VALUES(@ID_CONSULTATION,@ID_SERVICES_RENDUS)
