set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_SPECIALISATION_TABLE]

@SPECIALITE	nvarchar(50)	,
@ID_CATEG_UTILISATEUR	int	

AS
INSERT INTO SPECIALISATION
VALUES(@SPECIALITE	,@ID_CATEG_UTILISATEUR)
