set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_LA_GARDE]

@ID_PERSONNEL	nvarchar(10)	,
@ID_SERVICE	nvarchar(10)	,
@DATE_GARDE_DEBUT	datetime	,
@HEURE_DEBUT	nvarchar(10)	,
@DATE_GARDE_FIN	datetime	,
@HEURE_FIN	nvarchar(10)	

AS
INSERT INTO LA_GARDE
VALUES(@ID_PERSONNEL	,@ID_SERVICE,@DATE_GARDE_DEBUT	,
@HEURE_DEBUT	,@DATE_GARDE_FIN	,@HEURE_FIN)
