set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_COMMANDE_STOCK]

@ID_STOCK	nvarchar(10),
@CODE_PRODUIT	nvarchar(10)	,
@HEURE_COMMANDE	nvarchar(10),
@QUANTITE_COMMANDEE	float,
@OBSERVATIONS	nvarchar(50)	

AS
INSERT INTO COMMANDE_STOCK
VALUES(@ID_STOCK,@CODE_PRODUIT,@HEURE_COMMANDE,
@QUANTITE_COMMANDEE,@OBSERVATIONS)
