set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_SORTIE_DE_STOCK]

@ID_STOCK	nvarchar(10)	,
@CODE_PRODUIT	nvarchar(10)	,
@DATE_DE_SORTIE	datetime	,
@HEURE_DE_SORTIE	nvarchar(10)	,
@QUANTITE_SORTIE	float	,
@DATE_EXPIRE	datetime

AS
INSERT INTO SORTIE_DE_STOCK
VALUES(@ID_STOCK,@CODE_PRODUIT,@DATE_DE_SORTIE	,
@HEURE_DE_SORTIE,@QUANTITE_SORTIE,@DATE_EXPIRE	)	
