set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_TRAITEMENT_SUIVIE]

@ID_SUIVIE	int	,
@ID_SERVICES_RENDUS	nvarchar(10)	

AS 
INSERT INTO TRAITEMENT_SUIVIE
VALUES(@ID_SUIVIE	,@ID_SERVICES_RENDUS)
