set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




ALTER PROCEDURE [dbo].[INSERT_INTO_FACTURE_DETAILS]

@ID_CONSULTATION NVARCHAR(50),
@ACTE_A_FACTURER	nvarchar(50)	,
@ASSUREUR	nvarchar(50)	,
@POURCENTAGE	float	,
@MAXIMA_A_PAYER	money	,
@PAYE_PAR_ASSUREUR	money	,
@PAYE_PAR_PATIENT	money	,
@PAYE bit,
@ID_Type_Facture int

AS 
declare @DateYaFacture as datetime
set @DateYaFacture=getdate();
DECLARE @NoFACTURE as int
SET @NoFACTURE=(SELECT NO_FACTURE FROM FACTURES WHERE ID_CONSULTATION=@ID_CONSULTATION);


INSERT INTO FACTURE_DETAILS(ACTE_A_FACTURER,ASSUREUR,POURCENTAGE,MAXIMA_A_PAYER,PAYE_PAR_ASSUREUR,PAYE_PAR_PATIENT,
	   PAYE,No_FACTURE,ID_Type_Facture)
VALUES(@ACTE_A_FACTURER,@ASSUREUR,@POURCENTAGE,@MAXIMA_A_PAYER,@PAYE_PAR_ASSUREUR,@PAYE_PAR_PATIENT,
	   @PAYE,@NoFACTURE,@ID_Type_Facture)



