set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go





ALTER PROCEDURE [dbo].[INSERT_INTO_RENDEZ_VOUS_CONSULTATION]

@ID_PATIENT	nvarchar(20)	,
@ID_SERVICE	nvarchar(10)	,
@DATE_RENDEZ_VOUS	datetime	,
@HEURE_RENDEZ_VOUS	nvarchar(10),
@ID_CONSULTATION	nvarchar(50)

AS
INSERT INTO RENDEZ_VOUS_CONSULTATION(ID_PATIENT,ID_SERVICE,DATE_RENDEZ_VOUS,HEURE_RENDEZ_VOUS,DEJA_CONSULTE,ID_CONSULTATION,PAYE)
VALUES(@ID_PATIENT	,@ID_SERVICE,@DATE_RENDEZ_VOUS,@HEURE_RENDEZ_VOUS,0,@ID_CONSULTATION,0)

--IF (@ID_SERVICE=3 OR @ID_SERVICE=5 OR @ID_SERVICE=6)
--BEGIN
--INSERT INTO TRAITEMENT_CONSULTATION
--VALUES(@ID_CONSULTATION,'CONS-1',0,0)
--END
--
--IF (@ID_SERVICE=4 OR @ID_SERVICE=5)
--BEGIN
--INSERT INTO TRAITEMENT_CONSULTATION
--VALUES(@ID_CONSULTATION,'CONS-2',0,0)
--END









