set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_ENTREE_EN_STOCK]

@ID_STOCK	nvarchar(10),
@CODE_PRODUIT	nvarchar(10)	,
@DATE_D_ENTREE	datetime,
@HEURE_D_ENTREE	nvarchar(10)	,
@QUANTITE_ENTREE	float,
@PRIX_UNITAIRE	money,
@DATE_EXPIRATION	datetime	,
@ID_STOCK_SOURCE	nvarchar(10)	

AS 
INSERT INTO ENTREE_EN_STOCK
VALUES(@ID_STOCK,@CODE_PRODUIT,@DATE_D_ENTREE	,@HEURE_D_ENTREE,
@QUANTITE_ENTREE,@PRIX_UNITAIRE,@DATE_EXPIRATION,@ID_STOCK_SOURCE)
