set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_DESTINATION_TRANSFERT]

@NOM_DESTINATION	nvarchar(20)

AS 
INSERT INTO DESTINATION_TRANSFERT
VALUES(@NOM_DESTINATION)
