set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_CATEGORY_CHAMBRE]

@DESCRIPTION	nvarchar(50)	,
@PRIX_PAR_CHAMBRE	money	

AS
INSERT INTO CATEGORY_CHAMBRE
VALUES(@DESCRIPTION,@PRIX_PAR_CHAMBRE)
