set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_CATEGORY_UTILISATEUR]

@DESCRIPTION_USER_CATEG	nvarchar(20)	

AS 
INSERT INTO CATEGORY_UTILISATEUR
VALUES(@DESCRIPTION_USER_CATEG)
