set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_TYPE_D_ECHANTILLON]

@TYPE_D_ECHANTILLON	nvarchar(20)	
	
AS 
INSERT INTO TYPE_D_ECHANTILLON
VALUES(@TYPE_D_ECHANTILLON)
