set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_CATEGORY_PRODUIT]

@DESCRIPTION_CATEGORY	nvarchar(50)

AS 
INSERT INTO CATEGORY_PRODUIT
VALUES(@DESCRIPTION_CATEGORY	)
