set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_CATEGORY_SERVICE]

@NOM_CATEG_SERVICE	nvarchar(20)	

AS
INSERT INTO CATEGORY_SERVICE
VALUES(@NOM_CATEG_SERVICE)
