set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[INSERT_INTO_CATEG_SERVICES_RENDUS]

@DESCRIPTION_SERVICE	nvarchar(50)	

AS
INSERT INTO CATEG_SERVICES_RENDUS
VALUES(@DESCRIPTION_SERVICE)
