set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[UPDATE_TRAITEMENT_CONSULTATION_SET_IT_AS_PAYE]

@ID_CONSULTATION NVARCHAR(50),
@NOM_TRAITEMENT NVARCHAR(50)

AS

DECLARE @CODE_TRAITEMENT NVARCHAR(20)

SET @CODE_TRAITEMENT=(SELECT  dbo.TRAITEMENT_CONSULTATION.ID_SERVICES_RENDUS
						FROM  dbo.CONSULTATION INNER JOIN
							  dbo.TRAITEMENT_CONSULTATION ON dbo.CONSULTATION.ID_CONSULTATION = dbo.TRAITEMENT_CONSULTATION.ID_CONSULTATION INNER JOIN
							  dbo.SERVICES_RENDUS ON dbo.TRAITEMENT_CONSULTATION.ID_SERVICES_RENDUS = dbo.SERVICES_RENDUS.ID_SERVICES_RENDUS
						WHERE (dbo.SERVICES_RENDUS.DESCRIPTION_SERV_RENDUS = @NOM_TRAITEMENT) AND
							  (dbo.TRAITEMENT_CONSULTATION.ID_CONSULTATION = @ID_CONSULTATION) AND
							  (dbo.TRAITEMENT_CONSULTATION.PAYED = 0) AND 
							  (dbo.TRAITEMENT_CONSULTATION.RENDU = 0))
--------------------------------------------------------------------------------------------------------------

UPDATE TRAITEMENT_CONSULTATION
SET PAYED=1
WHERE TRAITEMENT_CONSULTATION.ID_SERVICES_RENDUS=@CODE_TRAITEMENT AND
		TRAITEMENT_CONSULTATION.ID_CONSULTATION=@ID_CONSULTATION
