set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




ALTER PROCEDURE [dbo].[UPDATE_HOSPITALISATION]

@ID_CONSULTATION	nvarchar(50)	,
@No_CHAMBRE	nvarchar(10)	

AS 
DECLARE @DATE_SORTIE AS DATETIME
DECLARE @STRING_DATE AS NVARCHAR(20)
DECLARE @HEURE_SORTIE AS NVARCHAR(10)

SET @DATE_SORTIE= GETDATE();
SET @STRING_DATE=@DATE_SORTIE;
SET @HEURE_SORTIE=SUBSTRING(@STRING_DATE,12,11);
UPDATE HOSPITALISATION
SET DATE_DE_SORTIE=@DATE_SORTIE,
HEURE_DE_SORTIE=@HEURE_SORTIE,
DECHARGE=1
WHERE ID_CONSULTATION=@ID_CONSULTATION

UPDATE CHAMBRES
SET DISPONIBLE=1
WHERE CHAMBRES.No_CHAMBRE=@No_CHAMBRE











