set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[UPDATE_LABO_DEPARTMENT]

@ID_DEPART_LABO	int	,
@NOM_DEPART_LABO	nvarchar(50)	

AS
UPDATE LABO_DEPARTMENT
SET NOM_DEPART_LABO=@NOM_DEPART_LABO
WHERE ID_DEPART_LABO=@ID_DEPART_LABO
