set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[UPDATE_RESULTAT_EXAMEN_SET_IT_AS_PAYED]

@ID_CONSULTATION NVARCHAR(50),
@NOM_EXAMEN NVARCHAR(50)

AS
-----------------------------------------------------------------------------------
DECLARE @CODE_EXAM NVARCHAR(20)

SET @CODE_EXAM=(SELECT     dbo.RESULTATS_EXAMEN.CODE_EXAMEN
				FROM         dbo.RESULTATS_EXAMEN INNER JOIN
								dbo.EXAMENS_A_FAIRE ON dbo.RESULTATS_EXAMEN.CODE_EXAMEN = dbo.EXAMENS_A_FAIRE.CODE_EXAMEN
				WHERE     (dbo.RESULTATS_EXAMEN.ID_CONSULTATION = @ID_CONSULTATION) 
						AND (dbo.RESULTATS_EXAMEN.DEJA_EXAMINE = 0) 
						AND (dbo.RESULTATS_EXAMEN.PAYES = 0) 
						AND (dbo.EXAMENS_A_FAIRE.EXAM_DESCRIPTION = @NOM_EXAMEN))
-----------------------------------------------------------------------------------

UPDATE RESULTATS_EXAMEN 
SET PAYES=1
WHERE (dbo.RESULTATS_EXAMEN.CODE_EXAMEN = @CODE_EXAM)
		 AND (dbo.RESULTATS_EXAMEN.ID_CONSULTATION = @ID_CONSULTATION)
